body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,255,255,1) 100%) no-repeat center center fixed;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    white-space: normal;
}


.form-horizontal {
    background: linear-gradient(to bottom, rgba(255,255,0,0.5) 0%, rgba(255,0,255,0.5) 100%);
    /*background-color: red;*/
    margin: 30px 10% 10px 10%;
    border-radius:20px;
    align-content:center;

    /*KOLORY*/
}

.form-group {
    width: 100%;
    margin:0 0 15px 0;
}
.form-control {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    border-radius: 15px;
}
.control-label {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;  
    width: 100%;
    text-align: center;
}
 
.btn-default{
    margin:10px;
    border-radius:15px;
}

dl {
    width: 100%;
    overflow: hidden;
    background: #ff0;
    padding: 0;
    margin: 0
}

dt {
    float: left;
    width: 40%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 5px;
    margin: 0
}

dd {
    float: left;
    width: 60%;
    /* adjust the width; make sure the total of both is 100% */
    padding: 5px;
    margin: 0
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .inputfile + label {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: rgba(255,255,255,0.1);
        display: inline-block;
    }

        .inputfile:focus + label,
        .inputfile + label:hover {
            background-color: rgba(255,255,255,0.2);
        }




form .horizontal {
    width: 60%;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 12px rgba(0,0,0,0.3);
    background: linear-gradient(180deg, rgba(65, 34, 75, 0.42) 100%, rgba(16, 198, 198, 0.2436) 100%);
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}